
div {
  background-color: rgb(67,69,77);
}
.color_menu {
    background-color: rgb(67, 69, 77);
}
.img {
    filter: brightness(0) invert(1);
}
.social{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.social-icon {
    font-size: 25px;
    color: #12F7D6;
}
.texto-titulo{
  font-size: 25px;
}
.text{
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.text1{
  font-size: 60;
}
body {
  font-family: 'IBM Plex Mono', monospace;
  background: #fff;
}
.nav-link {
  font-size: 20px;
}

.nav-link.active {
  color: #12F7D6 !important;
}



